<footer class="bg-slate-200">
    <div class="mx-auto max-w-5xl px-4 py-10 sm:px-6 lg:px-8">
        <div class="flex flex-col justify-center items-center gap-5 text-main">
            <a routerLink="/home" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="assets/images/freshcart-logo.svg" class="h-8" alt="freshcart Logo" />
            </a>

            <ul
                class="font-medium flex mt-4 border border-gray-100 rounded-lg md:flex-row rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a routerLink="/home" routerLinkActive="text-green-700"
                        class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-green dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">{{'navbar.home'
                        | translate}}</a>
                </li>
                <li>
                    <a routerLink="/products" routerLinkActive="text-green-700"
                        class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-green dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">{{'navbar.products'
                        | translate}}</a>
                </li>
                <li>
                    <a routerLink="/categories" routerLinkActive="text-green-700"
                        class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-green dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">{{'navbar.categories'
                        | translate}}</a>
                </li>
                <li>
                    <a routerLink="/brands" routerLinkActive="text-green-700"
                        class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-green dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">{{'navbar.brands'
                        | translate}}</a>
                </li>
            </ul>

            <ul class="flex items-center space-x-2 me-5 text-gray">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-tiktok"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-youtube"></i>
            </ul>
        </div>
    </div>
</footer>