<!-- Forget Password -->
@if (visible == 1) {
<section class="w-[60%] mx-auto my-10 bg-slate-100 shadow-md p-10 rounded-2xl">
    <h2 class="text-2xl font-semibold mb-3 text-green-700">{{'auth.forgetPasswordForm' | translate}}</h2>
    <p class="text-center text-red-700 font-semibold">{{errMessage}}</p>
    <form [formGroup]="forgetPasswordForm" (submit)="submitFogetPassword()">
        <label for="Email" class="relative">
            <input type="email" id="Email" placeholder="" formControlName="email"
                class="peer p-3 mt-2 w-full rounded-2xl border-gray-100 shadow-sm sm:text-sm" />
            <span
                class="absolute inset-y-0 start-3 -translate-y-5 bg-white px-0.5 text-sm font-medium text-gray-700 transition-transform peer-placeholder-shown:translate-y-0 peer-focus:-translate-y-5">
                Email
            </span>
        </label>
        @if(forgetPasswordForm.get('email')?.errors && forgetPasswordForm.get('email')?.touched){
        <div class="bg-red-100 text-red-800 border border-red-500 p-3 rounded-2xl">
            <p *ngIf="forgetPasswordForm.get('email')?.errors?.['required']">Email is required</p>
            <p *ngIf="forgetPasswordForm.get('email')?.errors?.['email']">Email is invalid</p>
        </div>
        }

        <div class="flex justify-between text-main mt-3">
            <a routerLink="/signin">Signin?</a>
            <button type="submit"
                class="text-white bg-main hover:bg-main focus:ring-4 focus:outline-none focus:ring-main font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-main dark:hover:bg-main dark:focus:ring-main">
                @if (loading) {
                <i class="fa fa-spin fa-spinner"></i>
                } @else{
                Send
                }
            </button>
        </div>
    </form>
</section>
}
<!-- Reset Code -->
@if (visible == 2) {
<section class="w-[60%] mx-auto my-10 bg-slate-100 shadow-md p-10 rounded-2xl">
    <h2 class="text-2xl font-semibold mb-3 text-green-700">{{'auth.code' | translate}}</h2>
    <p class="text-center text-red-700 font-semibold">{{errMessageCode}}</p>
    <form [formGroup]="ResetCodeForm" (submit)="submitResetCode()">
        <label for="Code" class="relative">
            <input type="text" id="Code" placeholder="" formControlName="resetCode"
                class="peer p-3 mt-2 w-full rounded-2xl border-gray-100 shadow-sm sm:text-sm" />
            <span
                class="absolute inset-y-0 start-3 -translate-y-5 bg-white px-0.5 text-sm font-medium text-gray-700 transition-transform peer-placeholder-shown:translate-y-0 peer-focus:-translate-y-5">
                Code
            </span>
        </label>
        @if(ResetCodeForm.get('resetCode')?.errors && ResetCodeForm.get('resetCode')?.touched){
        <div class="bg-red-100 text-red-800 border border-red-500 p-3 rounded-2xl my-3">
            <p *ngIf="ResetCodeForm.get('resetCode')?.errors?.['required']">Code is required</p>
            <p *ngIf="ResetCodeForm.get('resetCode')?.errors?.['pattern']">Code is invalid</p>
        </div>
        }

        <div class="flex justify-end text-main mt-3">
            <button type="submit"
                class="text-white bg-main hover:bg-main focus:ring-4 focus:outline-none focus:ring-main font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-main dark:hover:bg-main dark:focus:ring-main">
                @if (loading) {
                <i class="fa fa-spin fa-spinner"></i>
                } @else{
                Send
                }
            </button>
        </div>
    </form>
</section>
}
<!-- Reset Password -->
@if (visible == 3) {
<section class="w-[60%] mx-auto my-10 bg-slate-100 shadow-md p-10 rounded-2xl">
    <h2 class="text-2xl font-semibold mb-3 text-green-700">{{'auth.newPasswordForm' | translate}}</h2>
    <p class="text-center text-red-700 font-semibold">{{errMessageCode}}</p>
    <form [formGroup]="NewPasswordForm" (submit)="submitNewPassword()">
        <label for="Email" class="relative">
            <input type="email" id="Email" placeholder="" formControlName="email"
                class="peer p-3 mt-2 w-full rounded-2xl border-gray-100 shadow-sm sm:text-sm" />
            <span
                class="absolute inset-y-0 start-3 -translate-y-5 bg-white px-0.5 text-sm font-medium text-gray-700 transition-transform peer-placeholder-shown:translate-y-0 peer-focus:-translate-y-5">
                Email
            </span>
        </label>
        @if(NewPasswordForm.get('email')?.errors && NewPasswordForm.get('email')?.touched){
        <div class="bg-red-100 text-red-800 border border-red-500 p-3 rounded-2xl my-3">
            <p *ngIf="NewPasswordForm.get('email')?.errors?.['required']">Email is required</p>
            <p *ngIf="NewPasswordForm.get('email')?.errors?.['pattern']">Email is invalid</p>
        </div>
        }

        <label for="Password" class="relative">
            <input type="password" id="Password" placeholder="" formControlName="newPassword"
                class="peer p-3 mt-3 w-full rounded-2xl border-gray-100 shadow-sm sm:text-sm" />

            <span
                class="absolute inset-y-0 start-3 -translate-y-5 bg-white px-0.5 text-sm font-medium text-gray-700 transition-transform peer-placeholder-shown:translate-y-0 peer-focus:-translate-y-5">
                New Password
            </span>
        </label>
        @if(NewPasswordForm.get('newPassword')?.errors && NewPasswordForm.get('newPassword')?.touched){
        <div class="bg-red-100 text-red-800 border border-red-500 p-3 rounded-2xl">
            <p *ngIf="NewPasswordForm.get('newPassword')?.errors?.['required']">New password is required</p>
            <p *ngIf="NewPasswordForm.get('newPassword')?.errors?.['pattern']">New password is invalid</p>
        </div>
        }

        <div class="flex justify-end text-main mt-3">
            <button type="submit"
                class="text-white bg-main hover:bg-main focus:ring-4 focus:outline-none focus:ring-main font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-main dark:hover:bg-main dark:focus:ring-main">
                @if (loading) {
                <i class="fa fa-spin fa-spinner"></i>
                } @else{
                Reset Password
                }
            </button>
        </div>
    </form>
</section>
}